<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
    <style>
         *{font-family: 'Noto Sans KR', sans-serif;}

         .mytitle {
             width: 300px;
             height: 200px;

             text-align: center;

             background-size: cover;
             background-position: center;

             border-radius: 10px;

             padding-top: 40px;

             margin: auto;
         }
         .mysign {
             padding: auto;

             margin: auto;
         }

         }
         .form-select form-select-sm {
             width: 20px;
         }
    </style>

<title>너의 MBTI는?</title>
</head>

<body>
    <div class="mytitle">
        <h1>너의 MBTI는?</h1>
    </div>
    <div class="mysign">
        <p>ID<input type="text"/>
            <button type="button" class="btn btn-secondary btn-sm">중복 확인</button>
            </p>
        <p>닉네임
            <input type="text"/>
        </p>
        <p>PW
            <input type="text"/>
        </p>
        <p>PW확인
            <input type="text"/>
        </p>
        <p>MBTI <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>-- 나의 MBTI 선택하기 --</option>
                <option value="1">INFJ</option>
                <option value="2">ISTJ</option>
                <option value="3">ISFJ</option>
                <option value="4">ISFP</option>
                <option value="5">ISTP</option>
                <option value="6">INTP</option>
                <option value="7">INFJ</option>
                <option value="8">INFP</option>
                <option value="9">ESTJ</option>
                <option value="10">ESTP</option>
                <option value="11">ESFJ</option>
                <option value="12">ESFP</option>
                <option value="13">ENTP</option>
                <option value="14">ENFP</option>
                <option value="15">ENTJ</option>
                <option value="16">ENFJ</option>
                </select></p>
    </div>
    <div>
        <button type="button" class="btn btn-primary">가입</button>
    </div>


<div class="mytitle">
    <h1>너의 MBTI는?</h1>
</div>

<div class="wrap">
    <h3>회원 가입</h3>
    <div class="btn">
        <p>
            ID: <input type="text"/>
                <button type="button" class="btn btn-primary btn-sm">중복확인</button>
        </p>
    </div>
    <p>닉네임: <input type="text"/></p>
    <p>PW: <input type="text"/></p>
    <p>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">MBTI : </label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>--나의 MBTI 선택하기--</option>
            <option value="1">ISTJ</option>
            <option value="2">ISFJ</option>
            <option value="3">INFJ</option>
            <option value="4">INTJ</option>
            <option value="5">ISTP</option>
            <option value="6">ISFP</option>
            <option value="7">INFP</option>
            <option value="8">INTP</option>
            <option value="9">ESTP</option>
            <option value="10">ESFP</option>
            <option value="11">ENFP</option>
            <option value="12">ENTP</option>
            <option value="13">ESTJ</option>
            <option value="14">ESFJ</option>
            <option value="15">ENFJ</option>
            <option value="16">ENTJ</option>
        </select>
    </div>
    </p>
    <div>
        <button type="button" class="btn btn-outline-primary">가입 하기</button>
    </div>
</div>
</body>

</html>