<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
        .mytitle {



            width: 100%;
            height: 150px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .wrap {


            width: 300px;
            margin: auto;
        }


    </style>
</head>

<body>

<div class="mytitle">
    <h1>너의 MBTI는?</h1>
</div>

<div class="wrap">
    <div>
    <h3>회원 가입</h3>
    <p>ID: <input type="text"/>
        <button>중복 확인</button>
    </p>
    <p>닉네임: <input type="text"/></p>
    <p>PW: <input type="text"/></p>
    <p>PW확인 <input type="text"/></p>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">MBTI : </label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>-- 선택하기 --</option>
            <option value="ISTJ">ISTJ</option>
            <option value="ISFJ">ISFJ</option>
            <option value="INFJ">INFJ</option>
            <option value="INTJ">INTJ</option>
            <option value="ISTP">ISTP</option>
            <option value="ISFP">ISFP</option>
            <option value="INFP">INFP</option>
            <option value="INTP">INTP</option>
            <option value="ESTP">ESTP</option>
            <option value="ESFP">ESFP</option>
            <option value="ENFP">ENFP</option>
            <option value="ENTP">ENTP</option>
            <option value="ESTJ">ESTJ</option>
            <option value="ESFJ">ESFJ</option>
            <option value="ENFJ">ENFJ</option>
            <option value="ENTJ">ENTJ</option>
        </select>
    </div>
    </div>
    </p>
    <div class="mybtn">
        <button type="button" class="btn btn-outline-primary">가입 하기</button>
    </div>
</div>
</body>
</html>